html {
    scroll-behavior: smooth;
    
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Lato", sans-serif;

}

.mySlides {
    display: none
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .2}
    to {opacity: .5}
}